<ng-template #content let-modal>
    <div>
        <div class="modal-header">
            <h4 class="modal-title alert alert-warning" id="modal-basic-title">Mensaje</h4>
            <!-- <button type="button" class="btn bi bi-x-square " style="font-size: 2rem; color: cornflowerblue;" (click)="modal.dismiss('Cross click')"></button> -->
            <i class="btn bi bi-x-square " style="font-size: 2rem; color:darkgray;" (click)="modal.dismiss('Cross click')"></i>
        </div>
        <div class="modal-body">
            <form [ngClass]="Error==true ? 'alert alert-danger' : 'alert alert-success'">
                <div class="mb-3">
                    <span>{{Mensaje}}</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button [ngClass]="Error==true ? 'btn btn-outline-danger' : 'btn btn-outline-success'" type="button" (click)="modal.close('Save click')">Aceptar</button>
            <button *ngIf="!Confirmado" type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
    </div>
</ng-template>