<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Mejorador</title>
</head>

<body>
    <div class="container text-center">
        <form class="row">
            <div class="col-md-12">
                <input name="txtNombre" [(ngModel)]="Nombre" placeholder="Ingrese nombre" required>
            </div>
            <div class="col-md-12">
                <input name="txtMail" [(ngModel)]="Mail" placeholder="Ingrese mail" required>
            </div>
            <div class="col-md-12">
                <input name="txtDireccion" [(ngModel)]="Direccion" placeholder="Ingrese dirección" required>
            </div>
            <div class="col-md-4">
                <button (click)="AltaMejorador()">Agregar Mejorador</button>
            </div>
            <div class="col-md-4">
                <button (click)="BajaMejorador()">Eliminar Mejorador</button>
            </div>
            <div class="col-md-4">
                <button (click)="ModificarMejorador()">Modificar Mejorador</button>
            </div>
        </form>
    </div>
</body>

</html>