<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Usuario</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanNombre">Nombre:</span>
                    <input name="txtNombre" [(ngModel)]="Usuario.Nombre" [ngClass]="Usuario.Nombre!=undefined ? ValidarNombre() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese nombre" aria-label="txtNombre" aria-describedby="spanNombre"
                        required>
                    <div class="invalid-feedback">{{MensajeNombreInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanApellido">Apellido:</span>
                    <input name="txtApellido" [(ngModel)]="Usuario.Apellido" [ngClass]="Usuario.Apellido!=undefined ? ValidarApellido() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese apellido" aria-label="txtApellido"
                        aria-describedby="spanApellido" required>
                    <div class="invalid-feedback">{{MensajeApellidoInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanMail">Mail:</span>
                    <input name="txtMail" [(ngModel)]="Usuario.Mail" [ngClass]="Usuario.Mail!=undefined ? ValidarMailUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese mail" aria-label="txtMail" aria-describedby="spanMail"
                        required>
                    <div class="invalid-feedback">{{MensajeMailInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCedula">Cédula:</span>
                    <input name="txtCedula" [(ngModel)]="Usuario.Cedula" [ngClass]="Usuario.Cedula!=undefined ? ValidarCedulaUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese cédula de identidad" aria-label="txtCedula"
                        aria-describedby="spanCedula" required>
                    <div class="invalid-feedback">{{MensajeCedulaInvalida}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCelular">Celular:</span>
                    <input name="txtCelular" class="form-control" [(ngModel)]="Usuario.Celular" [ngClass]="Usuario.Celular!=undefined ? ValidarCelularUsuario() ? 'is-valid':'is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese celular" aria-label="txtCelular"
                        aria-describedby="spanCelular" requeried>
                    <div class="invalid-feedback">{{MensajeCelularInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanTipoDeUsuario">Tipo de usuario:</span>
                    <select name="txtTipoDeUsuario" class="form-select" [(ngModel)]="Usuario.TipoDeUsuario.IdTipoDeUsuario" [ngClass]="Usuario.TipoDeUsuario.IdTipoDeUsuario != undefined ? ValidarTipoDeUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'"
                        [disabled]="BtnBaja" aria-label="txtTipoDeUsuario" aria-describedby="spanTipoDeUsuario">
                        <option *ngFor="let tipoDeUsuario of TiposDeUsuario" [ngValue]="tipoDeUsuario.IdTipoDeUsuario" > 
                            {{tipoDeUsuario.Nombre}}
                        </option>
                    </select>
                </div>

                <div class="">
                    <button *ngIf="BtnAlta" class="btn btn-outline-success mr-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Agregar Usuario</button>
                    <button *ngIf="BtnBaja" class="btn btn-outline-danger mb-3" (click)="AbrirModal()">Eliminar Usuario</button>
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar Usuario</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10 mt-5">
            <div class="row">

                <div class="input-group mb-1 col-md-4">
                    <span class="input-group-text" id="spanBusquedaUsuario">Buscar por nombre:</span>
                    <input [(ngModel)]="TerminoDeBusqueda" name="txtBusquedaUsuario" class="form-control" style="height:auto;" placeholder="Ingrese nombre" aria-label="txtBusquedaUsuario" aria-describedby="spanBusquedaUsuario">
                </div>
                <div class="col-md-6"></div>
                <div class="mb-1 ml-auto col-md-2">
                    <span class="input-group">             
                        <button class="btn btn-success" (click)="Ocultar();BotonSeleccionado('Alta')">
                            <i id="iAgregar" class="bi bi-plus-square"></i>
                            Agregar                
                        </button>
                    </span>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" sortable="nombre">Nombre</th>
                        <th scope="col" sortable="apellido">Apellido</th>
                        <th scope="col" sortable="mail">Mail</th>
                        <th scope="col" sorteable="cedula">Cédula</th>
                        <th scope="col" sorteable="cedula">Celular</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let usuario of Usuarios | slice: (Page-1) * PageSize : Page * PageSize">
                        <td>
                            {{usuario.Nombre}}
                        </td>
                        <td>
                            {{usuario.Apellido}}
                        </td>
                        <td>
                            {{usuario.Mail}}
                        </td>
                        <td>
                            {{usuario.Cedula}}
                        </td>
                        <td>
                            {{usuario.Celular}}
                        </td>
                        <td *ngIf="usuario.TipoDeUsuario.IdTipoDeUsuario !=1 ">
                            <i class="bi bi-pencil " data-toggle="tooltip " data-placement="top " title="Modificar " (click)="BotonSeleccionado( 'Modificar');Seleccionar(usuario) "></i>
                        </td>
                        <td *ngIf="usuario.TipoDeUsuario.IdTipoDeUsuario !=1 ">
                            <i class="bi bi-trash3 " data-toggle="tooltip " data-placement="top " title="Eliminar " (click)="BotonSeleccionado( 'Baja');Seleccionar(usuario) "></i>
                        </td>
                        <td *ngIf="usuario.TipoDeUsuario.IdTipoDeUsuario !=1 ">
                            <i class="bi bi-arrow-repeat " data-toggle="tooltip " data-placement="top " title="Resetear contraseña " (click)="BotonSeleccionado( 'ResetearContrasena');Seleccionar(usuario) "></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-center ">
            <div class="mt-1 ">
                <ngb-pagination [(page)]="Page " [pageSize]="PageSize " [collectionSize]="Usuarios.length "></ngb-pagination>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar() " (Confirmar)="Confirmar() "></app-modal>

</html>