<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Usuario</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanNombre">Nombre:</span>
                    <input name="txtNombre" [(ngModel)]="Usuario.Nombre" [ngClass]="Usuario.Nombre!=undefined ? ValidarNombre() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese nombre" aria-label="txtNombre" aria-describedby="spanNombre"
                        required>
                    <div class="invalid-feedback">{{MensajeNombreInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanApellido">Apellido:</span>
                    <input name="txtApellido" [(ngModel)]="Usuario.Apellido" [ngClass]="Usuario.Apellido!=undefined ? ValidarApellido() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese apellido" aria-label="txtApellido" aria-describedby="spanApellido"
                        required>
                    <div class="invalid-feedback">{{MensajeApellidoInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanMail">Mail:</span>
                    <input name="txtMail" [(ngModel)]="Usuario.Mail" [ngClass]="Usuario.Mail!=undefined ? ValidarMailUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese mail" aria-label="txtMail" aria-describedby="spanMail"
                        required>
                    <div class="invalid-feedback">{{MensajeMailInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCedula">Cédula:</span>
                    <input name="txtCedula" [(ngModel)]="Usuario.Cedula" [ngClass]="Usuario.Cedula!=undefined ? ValidarCedulaUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese cédula de identidad" aria-label="txtCedula" aria-describedby="spanCedula"
                        required>
                    <div class="invalid-feedback">{{CedulaEsValida}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanTipoDeUsuario">Tipo de usuario:</span>
                    <select name="txtTipoDeUsuario" class="form-select" [(ngModel)]="Usuario.TipoDeUsuario.IdTipoDeUsuario" [ngClass]="Usuario.TipoDeUsuario.IdTipoDeUsuario != undefined ? ValidarTipoDeUsuario() ? 'form-control is-valid':'form-control is-invalid':'form-control'"
                        aria-label="txtTipoDeUsuario" aria-describedby="spanTipoDeUsuario">
                        <option *ngFor="let tipoDeUsuario of TiposDeUsuario"  value="{{tipoDeUsuario.IdTipoDeUsuario}}">
                            {{tipoDeUsuario.Nombre}}
                        </option>
                    </select>
                </div>
                <div class="">
                    <button *ngIf="BtnAlta" class="btn btn-outline-success mr-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Agregar Usuario</button>
                    <button *ngIf="BtnBaja" class="btn btn-outline-success mb-3" (click)="AbrirModal()">Eliminar Usuario</button>
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar Usuario</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10 mt-5">
            <div class="row input-group">
                <div class="row mb-3 col-md-8">
                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Buscar por nombre:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-complete-search" type="text" [(ngModel)]="TerminoDeBusqueda" class="form-control" name="searchTerm">
                    </div>
                    <!-- <span class="col col-form-label" *ngIf="Mejoradores.length>0 | async">Loading...</span> -->
                </div>
                <div class="col-md-2"></div>
                <div class="mb-3 ml-auto col-md-2">
                    <span class="input-group">             
                        <button class="btn btn-success" (click)="Ocultar();BotonSeleccionado('Alta')">
                            <i id="iAgregar" class="bi bi-plus-square"></i>
                            Agregar                
                        </button>
                    </span>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" sortable="nombre">Nombre</th>
                        <th scope="col" sortable="apellido">Apellido</th>
                        <th scope="col" sortable="mail">Mail</th>
                        <th scope="col" sorteable="cedula">Cédula</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let usuario of Usuarios">
                        <td>
                            <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px"> -->
                            <ngb-highlight [result]="usuario.Nombre"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="usuario.Apellido "></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="usuario.Mail"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="usuario.Cedula"></ngb-highlight>
                        </td>
                        <td>
                            <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(usuario); BotonSeleccionado('Modificar')"></i>
                        </td>
                        <td>
                            <i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="Seleccionar(usuario); BotonSeleccionado('Baja')"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> -->
                <!-- </ngb-pagination> -->

                <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize"> -->
                <!-- <option [ngValue]="2">2 items per page</option> -->
                <!-- <option [ngValue]="4">4 items per page</option> -->
                <!-- <option [ngValue]="6">6 items per page</option> -->
                <!-- </select> -->
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Ocultar()" (Cancelar)="Ocultar()" (Confirmar)="Confirmar()"></app-modal>


</html>