<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Mejorador</title>
</head>

<body>
    <div class="container text-center">
        <form class="row">
            <div class="col-md-12">
                <input name="txtNombre" [(ngModel)]="Nombre" placeholder="Ingrese nombre" required>
            </div>
            <div class="col-md-12">
                <input name="txtMail" [(ngModel)]="Mail" placeholder="Ingrese mail" required>
            </div>
            <div class="col-md-12">
                <input name="txtDireccion" [(ngModel)]="Direccion" placeholder="Ingrese dirección" required>
            </div>
            <div class="col-md-4">
                <button (click)="AltaMejorador()">Agregar Mejorador</button>
            </div>
            <div class="col-md-4">
                <button (click)="BajaMejorador()">Eliminar Mejorador</button>
            </div>
            <div class="col-md-4">
                <button (click)="ModificarMejorador()">Modificar Mejorador</button>
            </div>
        </form>
        <!-- <div *ngIf="Mejoradores.length>0">
            <div class="col-md-12">
                <ul>
                    <li *ngFor="let mejorador of Mejoradores" (click)="onSelect(mejorador)">
                        <div class="row">

                            <div class="list-group col-md-4" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{mejorador.idMejorador}}</a>
                            </div>
                            <div class="list-group col-md-4" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{mejorador.nombre}}</a>
                            </div>
                            <div class="list-group col-md-4" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{mejorador.direccion}}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>


    <form>
        <div class="mb-3 row">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
            <div class="col-xs-3 col-sm-auto">
                <input id="table-complete-search" type="text" [(ngModel)]="TerminoDeBusqueda" class="form-control" name="searchTerm">
            </div>
            <!-- <span class="col col-form-label" *ngIf="Mejoradores.length>0 | async">Loading...</span> -->
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="nombre">Nombre</th>
                    <th scope="col" sortable="mail">Mail</th>
                    <th scope="col" sortable="direccion">Direccion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mejorador of mejoradores" (click)="onSelect(mejorador)">
                    <th scope="row">{{ mejorador.IdMejorador }}</th>
                    <td>
                        <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px"> -->
                        <ngb-highlight [result]="mejorador.Nombre"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="mejorador.Mail "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="mejorador.Direccion"></ngb-highlight>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> -->
            <!-- </ngb-pagination> -->

            <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize"> -->
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
            <!-- </select> -->
        </div>

    </form>


</body>

</html>