<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Mejorador</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanNombre">Nombre:</span>
                    <input name="txtNombre" [(ngModel)]="Mejorador.Nombre" [ngClass]="Mejorador.Nombre!=undefined ? ValidarNombre() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese nombre" aria-label="txtNombre"
                        aria-describedby="spanNombre" required>
                    <div class="invalid-feedback">{{MensajeNombreInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanMail">Mail:</span>
                    <input name="txtMail" class="form-control" [(ngModel)]="Mejorador.Mail" [ngClass]="Mejorador.Mail!=undefined ? ValidarMailMejorador() ? 'is-valid':'is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese mail" aria-label="txtMail" aria-describedby="spanMail"
                        required>
                    <div class="invalid-feedback">{{MensajeMailInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanDireccion">Dirección:</span>
                    <input name="txtDireccion" class="form-control" [(ngModel)]="Mejorador.Direccion" [ngClass]="Mejorador.Direccion!=undefined ? ValidarDireccion() ? 'is-valid':'is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese dirección" aria-label="txtDireccion"
                        aria-describedby="spanDireccion" requeried>
                    <div class="invalid-feedback">{{MensajeDireccionInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCelular">Celular:</span>
                    <input name="txtCelular" class="form-control" [(ngModel)]="Mejorador.Celular" [ngClass]="Mejorador.Celular!=undefined ? ValidarCelularMejorador() ? 'is-valid':'is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese celular" aria-label="txtCelular"
                        aria-describedby="spanCelular" requeried>
                    <div class="invalid-feedback">{{MensajeCelularInvalido}}</div>
                </div>
                <div class="">
                    <button *ngIf="BtnAlta" class="btn btn-outline-success mr-1 mb-3" [disabled]="!ValidarFormulario()" (click)=" AbrirModal()">Agregar Mejorador</button>
                    <button *ngIf="BtnBaja" class="btn btn-outline-danger mb-3" (click)=" AbrirModal()">Eliminar Mejorador</button>
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)=" AbrirModal()">Modificar Mejorador</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10 mt-5">
            <div class="row">
                <div class="input-group mb-1 col-md-4">
                    <span class="input-group-text" id="spanBusquedaMejorador">Buscar por nombre:</span>
                    <input [(ngModel)]="TerminoDeBusqueda" name="txtBusquedaNombreMejorador" class="form-control" style="height:auto;" placeholder="Ingrese nombre" aria-label="txtBusquedaNombreMejorador" aria-describedby="spanBusquedaMejorador">
                </div>
                <div class="col-md-2"></div>
                <div class="mb-1 ml-auto col-md-2">
                    <span class="input-group">             
                        <button class="btn btn-success" (click)="Ocultar();BotonSeleccionado('Alta')">
                            <i id="iAgregar" class="bi bi-plus-square"></i>
                        Agregar                
                        </button>
                    </span>
                </div>
            </div>

            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" sortable="nombre">Nombre</th>
                        <th scope="col" sortable="mail">Mail</th>
                        <th scope="col" sortable="direccion">Dirección</th>
                        <th scope="col" sortable="celular">Celular</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let mejorador of Mejoradores | slice: (Page-1) * PageSize : Page * PageSize">
                        <td>
                            {{mejorador.Nombre}}
                        </td>
                        <td>
                            {{mejorador.Mail}}
                        </td>
                        <td>
                            {{mejorador.Direccion}}
                        </td>
                        <td>
                            {{mejorador.Celular}}
                        </td>
                        <td>
                            <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(mejorador); BotonSeleccionado('Modificar')"></i>
                        </td>
                        <td>
                            <i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="Seleccionar(mejorador);BotonSeleccionado('Baja')"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-center" *ngIf="!EstaSeleccionado">
            <div class="mt-1 ">
                <ngb-pagination [(page)]="Page" [pageSize]="PageSize" [collectionSize]="Mejoradores.length"></ngb-pagination>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar()" (Confirmar)="Confirmar()"></app-modal>

</html>