<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>Ingresar Humedad</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanHumedad">Humedad:</span>
                    <input name="txtHumedad" [(ngModel)]="Sobre.Humedad" [ngClass]="Sobre.Humedad!=undefined ? ValidarHumedad() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese porcentaje de humedad" aria-label="txtHumedad" aria-describedby="spanHumedad"
                        required>
                    <div class="invalid-feedback">{{MensajeHumedadInvalida}}</div>
                </div>

                <div class="">
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar humedad</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10">
            <div class="row">
                <div class="input-group mb-1 col-md-3 col-lg-3">
                    <span class="input-group-text" id="spanBusquedaNumeroSobre">Sobre:</span>
                    <input [(ngModel)]="NumeroSobre" type="number" name="txtBusquedaNumeroSobre" class="form-control" style="height:auto;" placeholder="Buscar por número" aria-label="txtBusquedaNumeroSobre" aria-describedby="spanBusquedaNumeroSobre">
                </div>
                <div class="col-md-9"></div>
            </div>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" sortable="lote">Lote</th>
                        <th scope="col" sortable="sobre">Sobre</th>
                        <th scope="col" sortable="semilla">Semilla</th>
                        <th scope="col" sortable="fechaDeIngreso">Fecha de ingreso</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let sobre of Sobres | slice: (Page-1) * PageSize : Page * PageSize">
                        <td>
                            {{sobre.Lote.NumeroLote}}
                        </td>
                        <td>
                            {{sobre.NumeroSobre}}
                        </td>
                        <td>
                            {{sobre.Semilla.Nombre}}
                        </td>
                        <td>
                            {{sobre.FechaDeIngreso | date:'short' }}
                        </td>
                        <td>
                            <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(sobre); BotonSeleccionado('Modificar')"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-center" *ngIf="!EstaSeleccionado">
            <div class="mt-1 ">
                <ngb-pagination [(page)]="Page" [pageSize]="PageSize" [collectionSize]="Sobres.length"></ngb-pagination>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar()" (Confirmar)="Confirmar()"></app-modal>

</html>