<body class="container">
    <div>
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col" sortable="nombre">Nombre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let tipoDeUsuario of TiposDeUsuario">
                    <td>
                        <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px"> -->
                        <ngb-highlight [result]="tipoDeUsuario.Nombre"></ngb-highlight>
                    </td>
                    <td>
                        <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar"></i>
                    </td>
                    <td>
                        <i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> -->
            <!-- </ngb-pagination> -->

            <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize"> -->
            <!-- <option [ngValue]="2">2 items per page</option> -->
            <!-- <option [ngValue]="4">4 items per page</option> -->
            <!-- <option [ngValue]="6">6 items per page</option> -->
            <!-- </select> -->
        </div>
    </div>





</body>
<app-modal #modal></app-modal>