<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>Buscar Duplicados</title>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-1 input-group">
                <button class="btn btn-info mr-1" (click)="BuscarDuplicados()">
                    <i id="iBuscar" class="bi bi-search"></i>
                    Buscar duplicados                
                </button>
                <button class="btn btn-info" (click)="Limpiar()">
                    <i class="bi bi-eraser"></i>
                    Limpiar               
                </button>
            </div>

            <div class="col-md-2 mb-1">
                <h5 class="card-text"><i class="bi bi-file-fill" style="font-size: 30px;Color:#c3e6cb;"></i>No duplicado</h5>
            </div>
            <div class="col-md-2 mb-1">
                <h5 class="card-text"><i class="bi bi-file-fill" style="font-size: 30px;Color:#f5c6cb;"></i>Duplicado</h5>
            </div>
            <div class="col-md-2 mb-1">
                <h5 class="card-text"><i class="bi bi-file-fill" style="font-size: 30px;Color:#b8daff;"></i>No existe</h5>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row text-center">

            <div class="col-md-4">
                <textarea [(ngModel)]="TextoIngresado" class="form-label" rows="20" style="width: 100%;" *ngIf="!MostrarTabla"></textarea>

                <div *ngIf="MostrarTabla">

                    <table class="table table-hover">
                        <thead class="table">
                            <tr>
                                <th scope="col" sortable="nombre">Nombre Semilla</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr #TablaD class="pointer" *ngFor="let sobre of Sobres | slice: (Page-1) * PageSize : Page * PageSize; let i = index ">
                                <td [ngClass]="ValidarDuplicado(sobre)">
                                    {{sobre.Semilla.Nombre}}
                                </td>
                                <td>
                                    <a (click)="VerDetalle(sobre)" *ngIf="sobre.Semilla.Taxonomia.Nombre!=null">
                                        <i class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="Ver detalles"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-md-center">
                        <div class="mt-1 ">
                            <ngb-pagination [(page)]="Page" [pageSize]="PageSize" [collectionSize]="Sobres.length"></ngb-pagination>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" sortable="Taxonomia">Taxonomía</th>
                            <th scope="col" sortable="germinacion">Germinación actual</th>
                            <th scope="col" sortable="Peso">Peso</th>
                            <th scope="col" sortable="fechaDeIngreso">Fecha de ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer">
                            <td>
                                {{Sobre.Semilla.Taxonomia.Nombre}}
                            </td>
                            <td>
                                {{Sobre.Germinacion}}
                            </td>
                            <td>
                                {{Sobre.Peso}}
                            </td>
                            <td>
                                {{Sobre.Semilla.FechaDeIngreso | date:'short' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>

</html>