<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Semilla</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="row border-bottom border-2 mb-3">
                    <div class="col-md-12">
                        <i class="bi bi-arrow-left regresar pointer" (click)="Regresar()" data-toggle="tooltip" data-placement="top" title="Regresar"></i>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanNombre">Nombre:</span>
                    <input name="txtNombre" [(ngModel)]="Semilla.Nombre" [ngClass]="Semilla.Nombre!=undefined ? ValidarNombre() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese nombre" aria-label="txtNombre" aria-describedby="spanNombre"
                        maxlength="40" required>
                    <div class="invalid-feedback">{{MensajeNombreInvalido}}</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanTaxonomia">Taxonomía:</span>
                    <select name="txtTaxonomia" [(ngModel)]="Semilla.Taxonomia.IdTaxonomia" [ngClass]="Semilla.Taxonomia.IdTaxonomia != undefined ? ValidarTaxonomia() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" aria-label="txtTaxonomia"
                        aria-describedby="spanTaxonomia">
                        <option *ngFor="let taxonomia of Taxonomias" [ngValue]="taxonomia.IdTaxonomia" > 
                            {{taxonomia.Nombre}}
                        </option>
                    </select>
                </div>

                <div class="">
                    <button *ngIf="BtnAlta" class="btn btn-outline-success mr-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Agregar Semilla</button>
                    <button *ngIf="BtnBaja" class="btn btn-outline-danger mb-3" (click)="AbrirModal()">Eliminar Semilla</button>
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar Semilla</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10">
            <div class="row mb-1">
                <div class="input-group col-md-7 col-lg-7 col-sd-12">
                    <span class="input-group-text" id="spanBusquedaSemilla">Semilla:</span>
                    <input [(ngModel)]="TerminoDeBusqueda" maxlength="30" name="txtBusquedaSemilla" class="form-control" style="height:auto;" placeholder="Buscar por nombre de semilla" aria-label="txtBusquedaSemilla" aria-describedby="spanBusquedaSemilla">
                </div>


                <div class="col-md-3 col-lg-3 col-sd-12"></div>
                <div class="ml-auto col-md-2 col-lg-2 col-sd-12">
                    <span class="input-group">             
                        <button class="btn btn-success fs-5" (click)="Ocultar();BotonSeleccionado('Alta')">
                            <i id="iAgregar" class="bi bi-plus-square"></i>
                            Agregar                
                        </button>
                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" sortable="nombre">Nombre</th>
                            <th scope="col" sortable="fechaDeIngreso">Fecha de ingreso</th>
                            <th scope="col" sortable="Taxonomia">Taxonomía</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer" *ngFor="let semilla of Semillas | slice: (Page-1) * PageSize : Page * PageSize">
                            <td>
                                {{semilla.Nombre}}
                            </td>
                            <td>
                                {{semilla.FechaDeIngreso | date:'short' }}
                            </td>
                            <td>
                                {{semilla.Taxonomia.Nombre}}
                            </td>
                            <td>
                                <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(semilla); BotonSeleccionado('Modificar')"></i>
                            </td>
                            <td>
                                <i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="Seleccionar(semilla); BotonSeleccionado('Baja')"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center" *ngIf="!EstaSeleccionado">
            <div class="mt-1 ">
                <ngb-pagination [(page)]="Page " [pageSize]="PageSize " [collectionSize]="Semillas.length "></ngb-pagination>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar()" (Confirmar)="Confirmar()"></app-modal>

</html>