<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>ABM Lote</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanNumero">Numero:</span>
                    <input name="txtNumero" [(ngModel)]="Lote.NumeroLote" [ngClass]="Lote.NumeroLote!=undefined ? ValidarNumeroLote() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja || BtnModificar" placeholder="Ingrese numero" aria-label="txtNumero"
                        aria-describedby="spanNumero" required>
                    <div class="invalid-feedback">{{MensajeNumeroInvalido}}</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanDescripcion">Descripción:</span>
                    <input name="txtDescripcion" [(ngModel)]="Lote.Descripcion" [ngClass]="Lote.Descripcion!=undefined ? ValidarDescripcion() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja" placeholder="Ingrese descripcion" aria-label="txtDescripcion"
                        aria-describedby="spanDescripcion" required>
                    <div class="invalid-feedback">{{MensajeDescripcionInvalido}}</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanMejorador">Mejorador:</span>
                    <select name="sltMejorador" class="form-select" [(ngModel)]="Lote.Mejorador.IdMejorador" [ngClass]="Lote.Mejorador.IdMejorador!=undefined ? ValidarMejorador() ? 'form-control is-valid':'form-control is-invalid':'form-control'" [disabled]="BtnBaja || BtnModificar"
                        aria-label="sltMejorador" aria-describedby="spanMejorador">
                        <option *ngFor="let mejorador of Mejoradores" [ngValue]="mejorador.IdMejorador" > 
                            {{mejorador.Nombre}}
                        </option>
                    </select>
                </div>

                <div class="">
                    <button *ngIf="BtnAlta" class="btn btn-outline-success mr-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Agregar Lote</button>
                    <button *ngIf="BtnBaja" class="btn btn-outline-danger mb-3" (click)="AbrirModal()">Eliminar Lote</button>
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar Lote</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="row justify-content-md-center">
            <div class="col-md-6 col-lg-6 border p-2 border-opacity-10 mt-5 ">
                <div class="row mb-1">
                    <div class="col-md-9">
                        <div class="row">
                            <label for="txtTerminoDeBusqueda" class="col-xs-3 col-sm-auto col-form-label">Buscar por numero:</label>
                            <div class="col-xs-3 col-sm-auto">
                                <input id="txtTerminoDeBusqueda" type="text" [(ngModel)]="TerminoDeBusqueda" class="form-control" name="searchTerm">
                            </div>
                            <!-- <span class="col col-form-label" *ngIf="Mejoradores.length>0 | async">Loading...</span> -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <span class="input-group">             
                        <button class="btn btn-success" (click)="Ocultar();BotonSeleccionado('Alta')">
                            <i id="iAgregar" class="bi bi-plus-square"></i>
                            Agregar                
                        </button>
                        </span>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" sortable="numero">Numero</th>
                            <th scope="col" sortable="numero">Descripcion</th>
                            <th scope="col" sortable="numero">Nombre</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pointer" *ngFor="let lote of Lotes">
                            <td>
                                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px"> -->
                                <!-- <ngb-highlight lote.Numero></ngb-highlight> -->
                                {{lote.NumeroLote}}
                            </td>
                            <td>
                                <ngb-highlight [result]="lote.Descripcion"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="lote.Mejorador.Nombre"></ngb-highlight>
                            </td>
                            <td>
                                <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(lote); BotonSeleccionado('Modificar')"></i>
                            </td>
                            <td>
                                <i class="bi bi-trash3" data-toggle="tooltip" data-placement="top" title="Eliminar" (click)="Seleccionar(lote);BotonSeleccionado('Baja')"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                    <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> -->
                    <!-- </ngb-pagination> -->

                    <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize"> -->
                    <!-- <option [ngValue]="2">2 items per page</option> -->
                    <!-- <option [ngValue]="4">4 items per page</option> -->
                    <!-- <option [ngValue]="6">6 items per page</option> -->
                    <!-- </select> -->
                </div>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar()" (Confirmar)="Confirmar()"></app-modal>

</html>