<div *ngIf="Usuario.IdUsuario==undefined">
    <app-login (LoginValido)="ListarFormularios($event)"></app-login>
</div>
<div *ngIf="Usuario.IdUsuario!=undefined">
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content">
        <li [ngbNavItem]="1" *ngIf="ModuloMejorador">
            <a ngbNavLink><b>Mejoradores</b></a>
            <ng-template ngbNavContent>
                <app-mejorador></app-mejorador>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" *ngIf="ModuloUsuario">
            <a ngbNavLink><b>Usuarios</b></a>
            <ng-template ngbNavContent>
                <app-usuario></app-usuario>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" *ngIf="ModuloTipoDeUsuario">
            <a ngbNavLink><b>Tipos de Usuarios</b></a>
            <ng-template ngbNavContent>
                <app-tipoDeUsuario></app-tipoDeUsuario>
            </ng-template>
        </li>
        <li [ngbNavItem]="4" *ngIf="ModuloTaxonomia">
            <a ngbNavLink><b>Taxonomía</b></a>
            <ng-template ngbNavContent>
                <app-taxonomia></app-taxonomia>
            </ng-template>
        </li>
        <li [ngbNavItem]="5" *ngIf="ModuloLote">
            <a ngbNavLink><b>Lote</b></a>
            <ng-template ngbNavContent>
                <app-lote></app-lote>
            </ng-template>
        </li>
        <li [ngbNavItem]="6" *ngIf="ModuloSemilla">
            <a ngbNavLink><b>Semilla</b></a>
            <ng-template ngbNavContent>
                <app-semilla></app-semilla>
            </ng-template>
        </li>
        <li [ngbNavItem]="7" *ngIf="ModuloSobre">
            <a ngbNavLink><b>Sobre</b></a>
            <ng-template ngbNavContent>
                <app-sobre></app-sobre>
            </ng-template>
        </li>
        <li [ngbNavItem]="8" *ngIf="ModuloIngresarGerminacion">
            <a ngbNavLink><b>Germinacion</b></a>
            <ng-template ngbNavContent>
                <app-ingresar-germinacion></app-ingresar-germinacion>
            </ng-template>
        </li>
        <li [ngbNavItem]="9" *ngIf="ModuloIngresarHumedad">
            <a ngbNavLink><b>Humedad</b></a>
            <ng-template ngbNavContent>
                <app-ingresarHumedad></app-ingresarHumedad>
            </ng-template>
        </li>
        <li [ngbNavItem]="10" *ngIf="ModuloBuscarDuplicados">
            <a ngbNavLink><b>Buscar duplicados</b></a>
            <ng-template ngbNavContent>
                <app-buscar-duplicados></app-buscar-duplicados>
            </ng-template>
        </li>
        <li [ngbNavItem]="11" *ngIf="ModuloEstadisticas">
            <a ngbNavLink><b>Estadísticas</b></a>
            <ng-template ngbNavContent>
                <app-estadistica></app-estadistica>
            </ng-template>
        </li>
        <li [ngbNavItem]="12">
            <app-alerta></app-alerta>
        </li>
        <li [ngbNavItem]="13">
            <i class="bi bi-person-circle" style="font-size: 18px;"></i>
        </li>
        <li [ngbNavItem]="14">
            <a ngbNavLink (click)="CerrarSesion()"><b>Cerrar Sesión</b></a>
        </li>


    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>




    <!-- <app-modal></app-modal> -->
    <!-- <app-login></app-login> -->
</div>