<!DOCTYPE html>
<html lang="es-ES">

<head>
    <title>Ingresar Germinación</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-md-center" *ngIf="EstaSeleccionado">
            <form class="col-md-8 form border border-5">
                <div class="col-md-12">
                    <i class="bi bi-arrow-90deg-left" (click)="Regresar()"></i>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCantidadSemillas">Cantidad de semillas:</span>
                    <input name="txtCantidadSemillas" type="Number" [disabled]="CantidadDeSemillasDeshabilitado" [(ngModel)]="Sobre.CantidadDeSemillas" [ngClass]="Sobre.CantidadDeSemillas!=undefined ? ValidarCantidadDeSemillas() ? 'form-control is-valid':'form-control is-invalid':'form-control'"
                        placeholder="Ingrese cantidad de semillas" aria-label="txtCantidadSemillas" aria-describedby="spanCantidadSemillas" required>
                    <div class="invalid-feedback">{{MensajeCantidadSemillasInvalido}}</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanCantidadSemillasGerminadas">Cantidad de semillas germinadas:</span>
                    <input name="txtCantidadSemillasGerminadas" type="Number" [(ngModel)]="CantidadDeSemillasGerminadas" [ngClass]="CantidadDeSemillasGerminadas!=undefined ? ValidarSemillasGerminadas() ? 'form-control is-valid':'form-control is-invalid':'form-control'" placeholder="Ingrese cantidad de semillas germinadas"
                        aria-label="txtCantidadSemillasGerminadas" aria-describedby="spanCantidadSemillasGerminadas" required>
                    <div class="invalid-feedback">{{MensajeCantidadSemillasInvalido}}</div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanVigor">Vigor:</span>
                    <input name="txtVigor" class="form-control" [disabled]="true" [(ngModel)]="Sobre.Vigor" placeholder="Porcentaje de vigor" aria-label="txtVigor" aria-describedby="spanVigor" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="spanGerminacion">Germinación:</span>
                    <input name="txtGerminacion" class="form-control" [disabled]="true" [(ngModel)]="Sobre.Germinacion" placeholder="Porcentaje de germinación" aria-label="txtGerminacion" aria-describedby="spanGerminacion" required>
                </div>
                <div class="">
                    <button *ngIf="BtnModificar" class="btn btn-outline-success ml-1 mb-3" [disabled]="!ValidarFormulario()" (click)="AbrirModal()">Modificar germinacion</button>
                </div>
            </form>
        </div>

        <div *ngIf="!EstaSeleccionado" class="border p-2 border-opacity-10">
            <div class="row mb-1">
                <div class="input-group col-md-4 col-lg-4">
                    <span class="input-group-text" id="spanBusquedaNumero">Sobre:</span>
                    <input [(ngModel)]="NumeroSobre" type="number" name="txtBusquedaNumero" class="form-control" style="height:auto;" placeholder="Buscar por número" aria-label="txtBusquedaNumero" aria-describedby="spanBusquedaNumero">
                </div>

                <div class="col-md-8"></div>
            </div>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" sortable="lote">Lote</th>
                        <th scope="col" sortable="sobre">Sobre</th>
                        <th scope="col" sortable="semilla">Semilla</th>
                        <th scope="col" sortable="fechaDeIngreso">Fecha de ingreso</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let sobre of Sobres | slice: (Page-1) * PageSize : Page * PageSize">
                        <td>
                            {{sobre.Lote.NumeroLote}}
                        </td>
                        <td>
                            {{sobre.NumeroSobre}}
                        </td>
                        <td>
                            {{sobre.Semilla.Nombre}}
                        </td>
                        <td>
                            {{sobre.FechaDeIngreso | date:'short' }}
                        </td>
                        <td>
                            <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Modificar" (click)="Seleccionar(sobre); BotonSeleccionado('Modificar')"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-center ">
            <div class="mt-1 ">
                <ngb-pagination [(page)]="Page " [pageSize]="PageSize " [collectionSize]="Sobres.length "></ngb-pagination>
            </div>
        </div>
    </div>
</body>
<app-modal #modal (Aceptar)="Regresar()" (Confirmar)="Confirmar()"></app-modal>

</html>